<%# todo = @todo = Todo.new %>
<%= form_with(model: [:my, todo], remote: true) do |form| %>
    <% if todo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo item from being saved:</h2>

        <ul>
        <% todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div>
        <h5> Title </h5>
        <%= form.text_field :title, class: "form-control" %>
    </div>

    <br/>

    <div>
        <h5> Description </h5>
        <%= form.text_area :description, class: "form-control" %>
    </div>

    <br/>

    <div>
        <%= form.label :due %>
        <%= form.datetime_select :due, default: 0.days.ago.localtime %>
    </div>

    <br/>

    <div>
        <%# Disable button after click to prevent sending multiple requests %>
        <%= form.submit "submit", data: { disable_with: "submitting data..." }, class:"btn btn-primary" %>
    </div>

<% end %>
