<h1>Your Todo list</h1>

<div class="searchdiv">
    <%= form_with( url: my_todos_path, method: :get, local: true) do |form| %>

        <table class="searchbox">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td><h6>include title</h6> <%= form.check_box :include_search %></td>
                    <td id="searchbar"colspan="3"> <%= form.text_field :search, placeholder: "title search" %> </td>
                </tr>
                <tr>
                    <td><h6>include date range</h6><%= form.check_box :include_datetime %></td>
                    <td><h6>FROM: </h6></td>
                    <td><%= form.datetime_select :datetime_from %></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><h6>TO: </h6></td>
                    <td><%= form.datetime_select :datetime_to %></td>
                    <td><%= form.submit "search" %> </td>
                <tr>
            </tbody>
        </table>
        <% console %>
    <% end %>
</div>
<br/>

<table class="contentTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Deadline</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @todos.each do |todoitem| %>
            <tr>
                <td><%= todoitem.title %></td>
                <td><%= todoitem.description %></td>
                <td><%= todoitem.due.to_formatted_s(:long_ordinal) %></td>
                <td><%= link_to 'Show', my_todo_path(todoitem) %></td>
                <td><%= link_to 'Edit', edit_my_todo_path(todoitem) %></td>
                <td><%= link_to 'Delete', my_todo_path(todoitem), method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Todo item', new_my_todo_path %>

<script></script>
