<div class="jumbotron text-center">
    <h1 class="display-4">List of all users</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover" style="margin: auto;">
            <thead>
                <tr>
                    <th scope="col" class="bg-info">Name</th>
                    <th scope="col" class="bg-info">Email</th>
                    <th scope="col" class="bg-info">Password</th>
                    <th scope="col" class="bg-info">Admin?</th>
                    <th scope="col" class="bg-info"></th>
                    <th scope="col" class="bg-info"></th>
                    <th scope="col" class="bg-info"></th>
                </tr>
            </thead>

            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.password %></td>
                        <td><%= user.admin %></td>
                        <% if current_user.email == user.email %>
                            <td></td>
                            <td></td>
                            <td></td>
                        <% else %>
                            <td><%= link_to 'Show', admin_user_path(user) %></td>
                            <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
                            <td><%= link_to 'Delete', admin_user_path(user), data: { method: :delete, remote: true, confirm: 'Are you sure?'} %></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <br />

    <button class="btn btn-primary"><%= link_to "Create new user", new_admin_user_path, class: "text-white" %></button>
</div>
