<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="navibar">
          <% if current_user.present? %>
              <% if current_user.admin? %>
                  <%= link_to 'Index', admin_users_path %>
              <% end %>
              <%= link_to 'Todo-List', my_todos_path %>
              <%= link_to 'Account', my_account_path %>
              <%= link_to 'Logout', session_path, method: :delete %>
          <% else %>
              <%= link_to 'Login', new_session_path %>
          <% end %>
  </div>
    <%= notice %>
    <%= yield %>
  </body>
</html>
